{% macro generate(name, value) %}
    <div class="input-group">
	    {% if value.icon %}<span class="input-group-addon"><i class="fa {{value.icon}}"></i></span>{% endif %}
	    <textarea class="{% if value.class %}{{value.class}}{% else %}form-control{% endif %}" name="{{name}}" autocomplete="off" rows="{{value.rows}}" placeholder="{{translate(value.placeholder)}}" {% if value.disabled %}disabled{% endif %}>{{value.data}}</textarea>
	</div>
{% endmacro %}