{% import "FormGenerator/macros/bool.twig" as bool %}
{% import "FormGenerator/macros/textarea.twig" as textarea %}
{% import "FormGenerator/macros/number.twig" as number %}
{% import "FormGenerator/macros/select.twig" as select %}
{% import "FormGenerator/macros/text.twig" as text %}

{% for name,value in fields %}
	{% if not value.hidden %}
    <div class="form-group">
        <label>{% if value.label %}{{translate(value.label)}}{% else %}&nbsp;{% endif %}</label>
        {% if value.type == "textarea" %}
            {{ textarea.generate(value) }}
		{% elseif value.type == "bool" %}
            {{ bool.generate(value) }}
        {% elseif value.type == "number" %}
            {{ number.generate(value) }}
        {% elseif value.type == "select" %}
            {{ select.generate(value) }}
        {% else %}
            {{ text.generate(value) }}
        {% endif %}
    </div>
    {% endif %}
{% endfor %}