<div id='{{box_id}}' class='modal fade' data-width="760">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h4 class='modal-title'>{% if box_title %}{{ translate(box_title) }}{% endif %}</h4>
        </div>
        <div class='modal-body'>
            <form name="ModalFormGenerator" method="{{ (form_method) ? form_method : 'post' }}" action="{{form_action}}">
    		    {% include "components/csrf.html.twig" %}
    		    <div id="form-alerts">
    		    </div>
    		    <div class="row">
    		    	<div class="col-sm-8">
    				    {% include 'FormGenerator/FormGenerator.html.twig' %}
    		    	</div>
    		    </div><br>
    		    <div class="row">
    		        {% if "submit" not in buttons.hidden %}
    		        <div class="col-xs-8 col-sm-4">
    		            <div class="vert-pad">
    		                <button type="submit" class="btn btn-block btn-lg btn-success js-submit">
    		                    {% if submit_button %}{{ translate(submit_button) }}{% else %}{{translate("SUBMIT")}}{% endif %}
    		                </button>
    		            </div>
    		        </div>
    		        {% endif %}
    		        {% if "cancel" not in buttons.hidden %}
    		        <div class="col-xs-4 col-sm-3 pull-right">
    		            <div class="vert-pad">
    		                <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
    		            </div>
    		        </div>
    		        {% endif %}
    		    </div>
    		</form>
    		<script>
    		// Load the validator rules for this form
    		var validators = {{validators | raw}};
    		</script>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{% block scripts_page %}
    <!-- Need to reload and reaply those since we're in modal -->
    <script>
        $(function() {
            $('#{{box_id}}').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' // optional
            });
            $('select').select2({ minimumResultsForSearch: Infinity });
        });
    </script>
{% endblock %}